    <mat-card>
        <mat-card-title>Detalhes do Rebelde</mat-card-title>

        <mat-card-content>
            <div fxLayout="column" fxLayoutAlign="space-evenly start">            
                <span class="line">Nome: {{rebel?.name}}</span>
                <span class="line">Idade: {{rebel?.age}}</span>
                <span class="line">Token: {{rebel?.token}}</span>
            </div>
            <mat-list *ngIf="rebel.itens">
                <mat-list-item *ngFor="let item of rebel.itens">
                    <span class='line' >Recurso: {{item.resource}} - </span>
                    <span class='line' >Valor: {{item.valueItem}}</span>
                </mat-list-item>
            </mat-list>
        </mat-card-content>

    </mat-card>

    <mat-card>
        <mat-card-title>Informe token do rebelde abaixo para efetuar troca</mat-card-title>
        <mat-form-field appearance="outline">
            <mat-label>Token</mat-label>
            <input matInput [(ngModel)]="rebelsInvolvedDto.rebelRequested" (keyup.enter)="submit()" 
                id="rebelRequested" name="rebelRequested">
        </mat-form-field>

        <mat-card-actions fxLayout="row" fxLayoutAlign="center center" class="group-button">
            <button mat-flat-button color="accent" (click)="submit()">
                Enviar <mat-icon>send</mat-icon>
            </button>
            
            <button mat-stroked-button color="warn" routerLink="/rebel">
                <mat-icon>undo</mat-icon> Voltar
            </button>
        </mat-card-actions>
    </mat-card>