<mat-card fxLayout="column" fxLayoutAlign="center center">
    <mat-card-subtitle>Relatório</mat-card-subtitle>
    <mat-card-content>
        <div fxLayout="column" fxLayoutAlign="space-evenly start">            
            <span class="line">Percentual de Rebeldes: {{report.percentageTraitors}}</span>
            <span class="line">Pontos Perdios com Traidores: {{report.percentageRebel}}</span>
            <span class="line">Média de Ítens com Rebeldes: {{report.lostPointsTraitors}}</span>
        </div>
        <mat-list *ngIf="report.mediaRebelItems">
            <mat-list-item >
                <span class='line' >Arma: {{report.mediaRebelItems.arma}} - </span>
                <span class='line' >Comida: {{report.mediaRebelItems.comida}}</span>
                <span class='line' >Munição: {{report.mediaRebelItems.municao}}</span>
                <span class='line' >Água: {{report.mediaRebelItems.agua}}</span>
            </mat-list-item>
        </mat-list>
        <mat-card-actions fxLayout="row" fxLayoutAlign="center center" class="group-button">
            <button mat-stroked-button color="warn" routerLink="/rebel">
                <mat-icon>undo</mat-icon> Voltar
            </button>
        </mat-card-actions>
    </mat-card-content>
</mat-card>