
<form [formGroup]="rebelForm" (ngSubmit)="submit()">
    <mat-card>
        <mat-card-subtitle>Cadastro de Rebelde</mat-card-subtitle>
        <mat-card-content>
            <mat-form-field appearance="outline">
                <mat-label>Sexo<span class="required">*</span></mat-label>
                <mat-select formControlName="genre">
                <mat-option value="" disabled>Selecione</mat-option>
                <mat-option value="F">Feminino</mat-option>
                <mat-option value="M">Masculino</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Nome <span class="required">*</span></mat-label>
                <input matInput minlength="3" maxlength="60"formControlName="name">
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Idade <span class="required">*</span></mat-label>
                <input matInput formControlName="age">
            </mat-form-field>
            
        </mat-card-content>    

        <mat-card-subtitle>
            Localização:
        </mat-card-subtitle>

        <mat-card-content formGroupName='locationDTO'>            
            <div class="form-subgroup">
                <mat-form-field appearance="outline">
                    <mat-label>Base <span class="required">*</span></mat-label>
                    <input matInput formControlName="base">
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Latitude <span class="required">*</span></mat-label>
                    <input matInput formControlName="latitude">
                </mat-form-field>
                
                <mat-form-field appearance="outline">
                    <mat-label>Longitude <span class="required">*</span></mat-label>
                    <input matInput formControlName="longitude">
                </mat-form-field>
            </div>
        </mat-card-content>
    
        <div class="form-check">
            <H4>Inventário</H4>
            <input class="form-check-input" name="agua" type="checkbox" id="agua" (change)="onChangeItem($event, 'agua')">
            <label>Água</label>
            <br>
            <input class="form-check-input" name="comida" type="checkbox" id="comida" (change)="onChangeItem($event, 'comida')">
            <label>Comida</label>
            <br>
            <input class="form-check-input" name="municao" type="checkbox" id="municao" (change)="onChangeItem($event, 'municao')">
            <label>Munição</label>
            <br>
            <input class="form-check-input" name="arma" type="checkbox" id="arma" (change)="onChangeItem($event, 'arma')">
            <label>Arma</label>
        </div>


        <mat-card-actions fxLayout="row" fxLayoutAlign="center center" class="group-button">
            <button mat-flat-button color="accent" type="submit" 
            [disabled]="!rebelForm.valid">
                Salvar <mat-icon>send</mat-icon>
            </button>
            
            <button mat-stroked-button color="warn" routerLink="/rebel">
                <mat-icon>undo</mat-icon> Voltar
            </button>
        </mat-card-actions>
    </mat-card>
</form>




