.required
    color: red

mat-radio-button
    margin-right: 16px

mat-form-field
    margin-right: 16px

mat-card
    max-width: 760px
    margin: 10px auto

.group-button
    margin: 26px auto

.form-subgroup
    margin: 12px auto