<mat-card fxLayout="column" fxLayoutAlign="center center">
    <mat-card-subtitle>Lista de Rebelde</mat-card-subtitle>
    <mat-card-content>
        <table matSort >
            <tr>
              <th mat-sort-header="name">Nome</th>
              <th mat-sort-header="age">Idade</th>
              <th mat-sort-header="genre">Sexo</th>
              <th mat-sort-header="token">Token</th>
            </tr>
          
            <tr *ngFor="let rebel of dataSource" class="linha">
              <td>{{rebel.name}}</td>
              <td>{{rebel.age}}</td>
              <td>{{rebel.genre}}</td>
              <td>{{rebel.token}}</td>
              <td></td>
              <td><button mat-mini-fab color="warn" 
                matTooltip="Destalhes do rebelde" routerLink="/rebel/{{rebel.token}}">
                <mat-icon>filter_list</mat-icon>
              </button></td>
              <td><button mat-mini-fab color="accent" matTooltip="Copiar token">
                <mat-icon>plus_one</mat-icon>
              </button></td>
            </tr>
        </table>
    </mat-card-content>
</mat-card>