<mat-toolbar fxLayout="row" fxLayoutAlign="space-around center" >
    <a routerLink="">
        <img src="../../../../assets/images/star.png" alt="logo" id="logo">
    </a>

    <div fxLayoutGap="20px">
        <a mat-button routerLink="rebel"></a>
    </div>
    <button mat-icon-button [matMenuTriggerFor]="appMenu">
        <mat-icon>menu</mat-icon>
    </button>
</mat-toolbar>

<mat-menu #appMenu="matMenu">
    <button mat-menu-item routerLink="rebel/new">Registrar rebelde</button>
    <button mat-menu-item routerLink="rebel/report">Relatórios</button>
</mat-menu>

<router-outlet></router-outlet>