.snack_ok
    background: aquamarine
    color: black

.snack_error
    text-align: center
    background: indianred
    color: black

body
    background-position: center center
    background-repeat: no-repeat
    background-size:100% 100%
    background-attachment: fixed